
table {
    border-collapse: collapse;
    font: 14px sans-serif;
}

th:first-of-type {
    text-align: left;
}

th {
    font-weight: normal;
    text-align: center;
    padding-right: 6px;
    min-width: 125px;
}

th:last-of-type
{
    text-align: right;
}

td:first-of-type {
    text-align: left;
}

td {
    text-align: center;
}

td:last-of-type
{
    text-align: right;
}


.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
}

.sortable:hover {
    background: #d1d1d1;
    color: black;
}

.sortable.sorting:hover {
    background: #b6b6b6;
    color: black;
}


#table1 tbody tr:hover {
    background-color: #efefef;
    color: black;
}
#table2 tbody tr:hover {
    background-color: #efefef;
    color: black;
}
#table3 tbody tr:hover {
    background-color: #efefef;
    color: black;
}

.label{
    text-anchor: middle;
}

@font-face {
    font-family: 'font1';
    src: url('assets/font1.ttf');
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;
    color: black;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
    color: #212121;
}
h3 {
    margin-bottom: 0;
    margin-top: 0;
    color: #212121;
    font-size: 16px;
}

* {
    font-family: 'font1';
}

header {
    padding: 0.5em;
    text-align: center;
    height: 100px;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-display {
    display: none !important;
}

tr:hover .margin-bar {
    opacity: 0.9;
}

.margin-bar {
    opacity: 0.6;
}

.margin-circle {
    stroke: black;
    stroke-width: 0.5;
}

.state-name {
    font-size: 11pt;
    font-weight: 800;
}

.poll-name {
    color: #454545;
    font-size: 9pt;
}
#Sex text {
    font-size: 12px;
    text-anchor: middle;
    fill: black;
}


.button rect {
    stroke: #999faa; /* navy 40% */
    stroke-width: 1px;

}

.button rect.pressed {
fill: #000f2b; /* navy 100% */
}

.button #gradient-start {
stop-color: #999faa; /* navy 40% */
stop-opacity: 1;
}

.button #gradient-stop {
stop-color: #4d576b; /* navy 70% */
stop-opacity: 1;
}

.button #gradient-start.active, .button #gradient-start.pressed {
stop-color: #4d576b; /* navy 70% */
}

.button #gradient-stop.active, .button #gradient-stop.pressed {
stop-color: #000f2b; /* navy 100% */
}
.button text {
font-size: 20px;
fill: #eee;
pointer-events: none;
text-anchor: middle;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.qcdensity-buttons {
    fill: steelblue;

}
.full-width {
    width: 400px;
    height: 400px;
}
#Info_Box input  {
    font-size: 20px;
}
.kid-button{
    padding: 5px;
    background-color: white;
    fill: lightgray;
    stroke-width: 0.5px;
    stroke: #333333;
    cursor: pointer;
}
.kid-button-text {
    cursor: pointer;
    pointer-events: none;
}
.kid-button-text-selected {
    cursor: pointer;
    pointer-events: none;
    color: white;
    fill: white;
}

.row-selected {
    background-color: yellow;
}

/*
kinder id colors
*/
.K4562 {
    fill: #f22247;
    background-color: #f22247;
    stroke: #333333;
    stroke-width: 0.5px;
    color: white;
}
.K4586 {
    fill: #f26522;
    background-color: #f26522;
    stroke: #333333;
    stroke-width: 0.5px;
    color: white;
}
.K4853 {
    fill: #ffc80b;
    background-color: #ffc80b;
    stroke: #333333;
    stroke-width: 0.5px;
    color: white;
}
.K5234 {
    fill: #00712a;
    background-color: #00712a;
    stroke: #333333;
    stroke-width: 0.5px;
    color: white;
}
.K5275 {
    fill: #005599;
    background-color: #005599;
    stroke: #333333;
    stroke-width:0.5px;
    color: white;
}
.K7646 {
    fill: #009991;
    background-color: #009991;
    stroke: #333333;
    stroke-width:0.5px;
    color: white;
}
.K7647 {
    fill: #6522f2;
    background-color: #6522f2;
    stroke: #333333;
    stroke-width: 0.5px;
    color: white;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
td, td:first-child, td:last-child, th, th:first-child, th:last-child {
    text-align: center;
    vertical-align: middle;
    /* border: 1px solid black; */
}
#table2 td {
    cursor: pointer;
}
#table1 td {
    cursor: pointer;
}
.table-header {
    font-weight: bold;
    font-size: 18px;
    background-color: #EEEEEE;
}
.table-header2 {
    font-size: 14px;
    background-color: #EEEEEE;
}



.polyp-size-circle {
    fill: white;
    stroke: #000000;
    stroke-width: 1px;
    opacity: 0.85;
}
.polyp-circle {
    cursor: pointer;
}
#polypTableBody .selected {
    background: #ffcece;
}
.male {
    fill: #2247f2;
}
.female {
    fill:#f22247;
}
.header-range {
    fill: white;
    stroke-width: 0.5px;
    stroke: black;
}

.polyp-tooltip {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

  /* Tooltip text */
.polyp-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

  /* Show the tooltip text when you mouse over the tooltip container */
div.polyp-tooltip {	
    position: absolute;			
    text-align: left;				
    padding: 10px;
    font: 14px sans-serif;
    background-color: black;
    color: #fff;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    z-index: 1;		
}
div.nonpolyp-tooltip {	
    position: absolute;			
    text-align: center;				
    padding: 5px;
    font: 14px sans-serif;
    background-color: black;
    color: #fff;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    z-index: 1;		
}
#description-box {
    border: 1px solid black;
}
#author-table {
    font-size: 20px;
}
.info-button:hover {
    background-color: darkgray;
    color: white;
}
.info-button {
    background-color: lightgray;
    box-shadow: 0 3px gray;
    transform: translateY(1px);
}
.info-button {
    display: inline-block;
    width: 250px;
    border: none;
    background-color: lightgray;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
}
/* polyp types */
.adenocarcinoma {
    fill: #F44336;
    background-color: #F44336;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}
.unknown {
    fill: #757575;
    background-color: #757575;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}
.hyperplastic {
    fill: #3F51B5;
    background-color: #3F51B5;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}
.lymphoid-hyperplasia {
    fill: #4CAF50;
    background-color: #4CAF50;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}
.lymphoid-follicle {
    fill: #FF9800;
    background-color: #FF9800;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}
.no-tissue-identified-at-pathology {
    fill: #212121;
    background-color: #212121;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}
.no-tissue-identified-at-pathology {
    fill: #212121;
    background-color: #212121;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}
.tubuloadenocarcinoma {
    fill: #673AB7;
    background-color: #673AB7;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}
.inflammatory {
    fill: #009688;
    background-color: #009688;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}
.lymphoid-aggregate-formation {
    fill: #795548;
    background-color: #795548;
    stroke: #333333;
    stroke-width: 1px;
    color: white;
}

/* combined qc heatmap */
.qc-0 {
    fill: #F44336;
    stroke: white;
    stroke-width: 0.1px;
}
.qc-1 {
    fill: #4CAF50;
    stroke: white;
    stroke-width: 0.1px;
}
.qc-2 {
    fill: #3F51B5;
    stroke: white;
    stroke-width: 0.1px;
}

.qc-unselected {
    opacity: 0.5;
}
.qc-selected {
    opacity: 1.0;
}