
table {
    border-collapse: collapse;
    font: 14px sans-serif;
}

th:first-of-type {
    text-align: left;
}

th {
    font-weight: normal;
    text-align: center;
    padding-right: 6px;
    min-width: 125px;
}

th:last-of-type
{
    text-align: right;
}

td:first-of-type {
    text-align: left;
}

td {
    text-align: center;
}

td:last-of-type
{
    text-align: right;
}

.sorting {
    background: black;
    color: white;
}

.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
}

.sortable:hover {
    background: #d1d1d1;
}

.sortable.sorting:hover {
    background: #232323;
}

.trump {
    color: firebrick;
    fill: firebrick;
}

.biden {
    color: steelblue;
    fill: steelblue;
}


#predictionTable td {
    line-height: 0;
}

#predictionTable tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #efefef;
}

.label{
    text-anchor: middle;
}

@font-face {
    font-family: 'font1';
    src: url('assets/font1.ttf');
}

h1 {
    margin-top: 0;
    color: #343651;
}

h2 {
    color: #343651;

}

* {
    font-family: 'font1';
}

header {
    padding: 0.5em;
    text-align: center;
    height: 100px;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-display {
    display: none !important;
}

tr:hover .margin-bar {
    opacity: 0.9;
}

.margin-bar {
    opacity: 0.6;
}

.margin-circle {
    stroke: black;
    stroke-width: 0.5;
}

.state-name {
    font-size: 11pt;
    font-weight: 800;
}

.poll-name {
    color: #454545;
    font-size: 9pt;
}


#qcdensity-plot .button {
    fill: steelblue;
}






.button rect {
    stroke: #999faa; /* navy 40% */
    stroke-width: 1px;
}

.button rect.pressed {
fill: #000f2b; /* navy 100% */
}

.button #gradient-start {
stop-color: #999faa; /* navy 40% */
stop-opacity: 1;
}

.button #gradient-stop {
stop-color: #4d576b; /* navy 70% */
stop-opacity: 1;
}

.button #gradient-start.active, .button #gradient-start.pressed {
stop-color: #4d576b; /* navy 70% */
}

.button #gradient-stop.active, .button #gradient-stop.pressed {
stop-color: #000f2b; /* navy 100% */
}
.button text {
font-size: 20px;
fill: #eee;
pointer-events: none;
text-anchor: middle;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.qcdensity-buttons {
    fill: steelblue;

}
.full-width {
    width: 100vw;
    height: 550px;
  }

.kid-button{
    padding: 5px;
    background-color: rgb(225, 225, 225);
}

circle {
    fill: #cc9a04;
    stroke: #000000;
    opacity: 0.5;
}

/*
kinder id colors
*/
.K4562 {
    fill: #cc0404;
    background-color: #cc0404;
    stroke: #000000;
    stroke-width: 0px;
}
.K4586 {
    fill: #cc7c04;
    background-color: #cc7c04;
    stroke: #000000;
    stroke-width: 0px;
}
.K4853 {
    fill: #ffee00;
    background-color: #ffee00;
    stroke: #000000;
    stroke-width: 0px;
}
.K5234 {
    fill: #25bb00;
    background-color: #25bb00;
    stroke: #000000;
    stroke-width: 0px;
}
.K5275 {
    fill: #004bbb;
    background-color: #004bbb;
    stroke: #000000;
    stroke-width: 0px;
}
.K7646 {
    fill: #e100ff;
    background-color: #e100ff;
    stroke: #000000;
    stroke-width: 0px;
}
.K7647 {
    fill: #fc6df0;
    background-color: #fc6df0;
    stroke: #000000;
    stroke-width: 0px;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
td, td:first-child, td:last-child {
    text-align: center;
    vertical-align: middle;
    /* border: 1px solid black; */
}
.polyp-size-circle {
    fill: red;
    border: 1px solid red;
}